<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TEST</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/app/site.css" rel="stylesheet" />
</head>
<body>

  @RenderBody()

  <script src="~/Scripts/jquery-1.9.0.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  <script src="~/Scripts/toastr.min.js"></script>
  <script src="~/Scripts/moment.min.js"></script>
  <script src="~/Scripts/bootbox.min.js"></script>
  <script src="~/Scripts/angular.js"></script>
  <script src="~/Scripts/angular-sanitize.min.js"></script>
  <script src="~/Scripts/angular-ui-router.min.js"></script>
  <script src="~/Scripts/angular-animate.min.js"></script>
  <script src="~/Scripts/ngplus/ngplus-overlay.js"></script>
  <script src="~/Scripts/marked.js"></script>
  <script src="~/Scripts/angular-marked.min.js"></script>

  <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
  <script src="~/Scripts/angular-ui/ui-utils.min.js"></script>


  <!-- if not supporting IE9: remove autofill-event.js and upgrade jquery to 2 -->
  <script src="~/Scripts/autofill/autofill-event.js"></script>

  <!-- typescript interfaces do not needed to be included-->
  <script src="~/app/App.js"></script>

  <script src="~/app/blocks/logger/logger.module.js"></script>
  <script src="~/app/blocks/logger/logger.js"></script>

  <script src="~/app/blocks/exception/exception.module.js"></script>
  <script src="~/app/blocks/exception/exception.provider.js"></script>
  <script src="~/app/blocks/exception/exception.js"></script>
  <script src="~/app/blocks/exception/apiError.js"></script>

  <script src="~/app/blocks/interceptor/interceptor.module.js"></script>
  <script src="~/app/blocks/interceptor/interceptor.js"></script>

  <script src="~/app/blocks/router/router.module.js"></script>
  <script src="~/app/blocks/router/router.js"></script>

  <script src="~/app/core/core.module.js"></script>
  <script src="~/app/core/constants.js"></script>
  <script src="~/app/core/config.js"></script>

  <script src="~/app/widgets/widgets.module.js"></script>
  <script src="~/app/widgets/common.js"></script>
  <script src="~/app/widgets/directives.js"></script>
  <script src="~/app/widgets/filters.js"></script>

  <script src="~/app/useraccount/useraccount.module.js"></script>
  <script src="~/app/useraccount/config.route.js"></script>
  <script src="~/app/useraccount/models.js"></script>
  <script src="~/app/useraccount/services.js"></script>
  <script src="~/app/useraccount/controllers.js"></script>

  <script src="~/app/test/test.module.js"></script>
  <script src="~/app/test/config.route.js"></script>
  <script src="~/app/test/controllers.js"></script>

  <script src="~/app/layout/layout.module.js"></script>
  <script src="~/app/layout/controllers.js"></script>

  <script>
  

    $(document).ready(function () {
      //var main = new app.App();
      angular.bootstrap(document, ['app']);
    });

  </script>

</body>

</html>
