<?xml version="1.0" encoding="utf-8"?>
<packages>

  <!-- Start References: -->
  <!--
    Microsoft.CSharp
    System
    System.ComponentModel.DataAnnotations
    System.Configuration
    System.Core
    System.Data
    System.Data.DataSetExtensions
    System.Xml
    System.Xml.Linq
  -->
  <!--For stand alone website (console app) add (Microsoft.Owin.Host.HttpListener):
    Microsoft.Owin.Hosting
    Microsoft.Owin.Host.HttpListener 
    Microsoft.AspNet.WebApi.OwinSelfHost (for web api portion)
  
    Microsoft.Owin.Diagnostics (for easy debug values in owin)
  -->
  
  <!-- Owin prerequisites: (Microsoft.Owin) -->
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />

  <!-- to host under IIS: -->
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net451" /> 
  
  <!-- Web Api prerequisites: (Microsoft.AspNet.WebApi.Owin) -->
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.1.2" targetFramework="net451" />
  <!-- And it actually adds following instead: 
  System.Web.Http
  System.Web.Http.Owin
  System.Net.Http
  System.Net.Http.Formatting
  -->
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net451" />
  <!-- webapi needs it for serializaiton -->
  
  <package id="Nancy" version="0.22.2" targetFramework="net451" /> <!-- this one assumes asp.net. Need to add Owin below also. -->
  <package id="Nancy.Owin" version="0.22.2" targetFramework="net451" />
  
  <!-- razor engine for Nancy -->
  <package id="Nancy.Viewengines.Razor" version="0.22.2" targetFramework="net451" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net451" />

  <!-- UI stuff -->
  <package id="bootstrap" version="3.1.1" targetFramework="net451" />
  <package id="FontAwesome" version="4.0.3.1" targetFramework="net451" />
  <package id="jQuery" version="1.9.0" targetFramework="net451" />
  
  <!-- adding Identity (Microsoft.AspNet.Identity.Owin)-->
  <package id="Microsoft.AspNet.Identity.Core" version="2.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.1.0" targetFramework="net451" />
  
  <!-- Entity Framework: Microsoft.AspNet.Identity.EntityFramework -->
  <package id="EntityFramework" version="6.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.0.0" targetFramework="net451" /> 
  <!-- added:
  EntityFramework.SqlServer
  
  -->
</packages>