
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ng-show="lc.isLoggedIn" href="/#/userhome">test</a></li>
        <li><a href="/#/test">test</a></li>
        <li><a ng-hide="lc.isLoggedIn" href="/#/login">login</a></li>
        <li><a ng-show="lc.isLoggedIn" href="/#/userhome">loged in page</a></li>
        <li><a ng-hide="lc.isLoggedIn" href="/#/register">register</a></li>
        <li><a href="/#/notexist">invalid page</a></li>
        <li><a ng-show="lc.isLoggedIn" ng-click="lc.logout()" href="javascript:void(0)">logout</a></li>
      </ul>
    </div>
  </div>
</div>
