
<div data-ng-controller="layoutController as lc">

  <div id="splash-page" data-ng-show="lc.showSplash" class="dissolve-animation">
    <div class="page-splash">
      <div class="page-splash-message">
        Modular Demo
      </div>
    </div>
  </div>

  <div data-ng-include="'app/layout/header.html'"></div>

  <div class="container body-content ui-view-container" style="margin-top:80px;">
    <!--<div class="jumbotron">
      <h1>Testing view in Nancy</h1>
      <p class="lead">Here is value from the model: @Model.Name</p>
    </div>-->
    <!--<a href="/api/account/UserInfo">UserInfo</a> <br />
    <a href="/testRunner">Test Runner</a> <br />-->

    <div ui-view></div>
    <!---->
    <!--<div ngplus-overlay
         ngplus-overlay-delay-in="50"
         ngplus-overlay-delay-out="700"
         ngplus-overlay-animation="shuffle-animation">
      <img src="../../content/images/busy.gif" />

      <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
    </div>-->
    <!--<hr />
    <footer>

    </footer>-->
    <article class="navbar navbar navbar-fixed-bottom text-center">
      <p>&copy; 2014 - My ASP.NET Application</p>
    </article>
  </div>
</div>